<footer>
  <nav class="navbar fixed-bottom navbar-dark ">
    <div class="container text-center">
      <h6 class="navbar-text">&copy; 2024 Incident Tracker. All rights reserved.</h6>
    </div>
  </nav>
</footer>
