<body>
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
     <a class="navbar-brand" href="/">
        <img src="/Content/image/logoo.png" alt="Logo" style="height: 30px; margin-right: 10px;">
        Incident Tracker
      </a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link <% if(title == 'Home') { %> active <% } %>" aria-current="page" href="/home">Home</a>
          </li>
          <% if(typeof displayName =='string' && displayName) { %>
          <li class="nav-item">
            <a class="nav-link <% if(title == 'Incidents') { %> active <% } %>" href="/incidentslist">Incidents</a>
          </li>
            <li class="navbar-text">
            Welcome, <%= displayName %> </li>
            <li class="nav-item">
            <a href="/logout" class="nav-link"> Logout</a></li>
          <% } else { %>
            <li class="nav-item">
              <a href="/login" class="nav-link"> Login</a></li>
          <% } %>
        </ul>
      
      </div>
    </div>
  </nav>
</body>
