
<%- include Partials/header.ejs%>
<%- include Partials/main_nav.ejs%>
    <!--Main content-->
<section class="container text-center my-5">
    <h1>Manage and Resolve Incidents Effectively</h1>
    <p>Keep track of issues and manage them seamlessly.</p>
    <a href="/incidentslist" class="btn btn-primary btn-lg mt-3">Create and Show Incidents</a>
  </section>
    
<%- include Partials/footer.ejs%>



  
  